/* --- DEBUG --- */
/* div {
    border: 1px solid yellow;
} */

/* --- HELPERS --- */

.my_bg-lightblue {background-color: #165bba;}
.my_bg-orange {background-color: #f2604b;}
.my_color-grey {color: grey}

/* --- GENERAL --- */

body {
    font-family: 'Roboto', sans-serif;
}

/* --- HEADER --- */

.my_navbar {
    height: 3rem;
}

/* --- MAIN --- */

.my_sidebar {
    min-width: 8rem;
    height: calc(100vh - 3rem);
    background-color: darkblue;
}

thead > tr {
    font-size: .75rem;
}

tr > td:first-child {
    text-align: left;
}